---
layout: default
---

<section class="home">
  <h1>Latest Updates</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-card">
        {% if post.image %}
          <div class="post-image">
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
          </div>
        {% endif %}
        <div class="post-details">
          <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>