<header class="site-header">
  <div class="container header-flex">
    <div class="header-profile">
      {% if site.avatar %}
        {% assign avatar_url = site.avatar %}
        {% unless avatar_url contains "http" %}
          {% assign avatar_url = avatar_url | relative_url %}
        {% endunless %}
        <img src="{{ avatar_url }}" alt="{{ site.title }}" class="site-avatar">
      {% endif %}
      <div class="header-branding">
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.title | escape }}
        </a>
        <p class="site-description">{{ site.description }}</p>
      </div>
    </div>

    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Blog</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      </nav>
  </div>
</header>